.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.five-gap {
  column-gap: 5px;
}

.twenty-gap {
  column-gap: 20px;
}

.centered {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treeWrapper {
  display: flex;
  align-items: end;
  justify-content: center;

  @media screen and (max-width: 400px) {
    margin-top: 20px;
  }
}

.just-desktop {
  @media screen and (max-width: 400px) {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.slideshow {
  position: relative;
  width: 100px;
  height: 150px;
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  animation: fade 6s infinite;
}

.slideshow img:nth-child(1) {
  animation-delay: 0s;
}

.slideshow img:nth-child(2) {
  animation-delay: 1s;
}

.slideshow img:nth-child(3) {
  animation-delay: 2s;
}

.slideshow img:nth-child(4) {
  animation-delay: 3s;
}

.slideshow img:nth-child(5) {
  animation-delay: 4s;
}

.slideshow img:nth-child(6) {
  animation-delay: 5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  8% {
    opacity: 1;
  }

  18% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.tree-count {
  color: #6BB1AE;
  font-weight: 500;
}

.other-trees {
  margin-top: 30px;
}

.tree-wrapper img {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;/
}

.tree-wrapper:hover img {
  opacity: 1;
  visibility: visible;
}